.tips{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tip{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tip-icon{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 5px;
}
.tip-text{
    font-size: 0.8rem;
    color: #61646b;
}
.success{
    background-color: #00af70;
}
.error{
    background-color: #ea4545;
}