.icon-container{
    background-color: #efeff0;
    border: 1px solid #afb1b6;
    border-radius: 75px;
    width: 150px;
    height: 150px;
    align-self: center;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: center;
}
.icon-container i{
    font-size: 1.2rem;
    color: #68737d;
}