html{
    font-size: 16px;
}
body{
    background-color: #222;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 480px;
    margin: auto;
}
header{
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
#page-title{
    flex: 1;
    font-weight: bold;
}
.profile-icon{
    position: relative;
    display: inline;
}
.profile-icon .profile-ball{    
    background-color: #22AD5C;
    border: 2px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 9px;
    position: absolute;
    top: 0px;
    right: 0px;
}
#menu-icon{
    display: inline;
}
#menu-icon a{
    color: #fff;
}
.container-post{
    background-color: #FAFAFA;
    padding: 16px 8px 16px 8px;
    border-radius: 4px;
    margin: 10px 5px 10px 5px;
}
.container-post-user{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container-post-user-photo{
    display: flex;
}
.container-post-user-name{
    font-weight: bold;
    margin-left: 15px;
    flex: 1;
}
.container-post-text{
    font-size: 0.8rem;
    color: #61646B;
    margin: 16px 0px 16px 0px;
    line-height: 1.2rem;
}
.container-post-media{
    flex: 1;
    display: flex;
}
.container-post-media img{
    width: 100%;
}
.container-post-options{
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}
.container-post-options-icons{
    flex: 1;
    display: flex;
    flex-direction: row;   
    align-items: flex-start;
    gap: 16px; 
}
.container-post-options-icons-reaction{
    display: flex;
    flex-direction: column;
}
.container-post-options-icons-reaction span{
    font-size: 0.8rem;
    color: #61646B;
}
.link-comment{
    color: #61646B;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.link-comment i{
    font-size: 1.5rem;
}
.link-comment span{
    font-size: 0.8rem;
    margin-left: 5px;
}
a.link-react{
    text-decoration: none;
}
a.link-reaction{
    position: relative;
}
.container-reactions{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    border-radius: 37px;
    padding: 8px;
    gap: 16px;
}
a.link-reaction:link .container-reactions, a.link-reaction:visited .container-reactions{
    display: none;
}
a.link-reaction:hover .container-reactions{
    display: flex;
    position: absolute;
    top: -40px;
    left: 0px;
}
#container-profile{
    background-color: #000;
    display: flex;
    flex-direction: column;
    min-height: 390px;
    position: relative;
    padding-bottom: 20px;
}
#container-profile-top{
    background-color: #0369A1;
    height: 50%;
    min-height: 120px;    
}
#container-profile-photo{
    display: flex;
    width: 200px;
    margin: auto;
    position: absolute;
    top: calc(40% - 100px);
    left: calc(50% - 100px);
    height: 200px;
}
#container-profile-photo img{
    flex: 1;
    object-fit: cover;
    width: 200px;
    border-radius: 50%;
}
#button-upload-photo{
    background-color: #fff;
    border: 1px solid #0369A1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    bottom: 0px;
}
#button-upload-photo a{
    color: #0369A1;
    font-size: 1.8rem;
}
#container-profile-photo-info{
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
.info-title{
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 10px;
}
.info-text{
    font-size: 1rem;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
}
.button-add{
    background-color: #0284C7;
    color: #fff;
    border-radius: 4px;
    padding: 16px;
    border-width: 0px;
    font-size: 1rem;
    min-width: 150px;
}
.last-post{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}